<div class="container-fluid body">
  <div class="col col-sm-6 col-md-4 col-lg-3 col-xl-12">
      <div>
          <img src="./images/KatherineWest.jpg" class="profileIMG">
          <p>
              Katherine West<br>
              katherine.west at bellevuecollege dot edu
          </p>
      </div>
      <hr>
      <div>
          <p>
              <span class="section-title">Bio<br></span>
              I’m a long-time crafter, book worm and computer enthusiast. I enjoy gaming, coding, reading and sewing. Being able to create or turn off my brain and immerse myself in a world helps recharge me.<br>
              I’ve been coding in one form or another since 2015, I think? But I’ve been gaming in general for about twenty years. I think the first game I designed was a MLP point and click game. It never went past scribbling ideas on paper with a pencil.
          </p>
      </div>
  </div>

  <div class="col">
      <div>
          <span class="section-title">Resources<br></span>
          <p> <a href="./resources">Web Resources</a> </p>
          <p> <a href="/vanilla">Link Central - Vanilla</a> </p>
      </div>
      <div>
          <span class="section-title">Projects<br></span>
          <p> <a href="./project">DEV320 Project</a> </p>
      </div>
  </div>
  <div class="nl col col-sm-6 col-md-4 col-lg-3 col-xl-12 hidden-xs hidden-sm">
      <hr>
      <div>
          <span class="section-title">Education<br></span>
          <p>
              to be added
          </p>
      </div>
      <hr>
      <div>
          <span class="section-title">Experience<br></span>
          <p>
              I have used Unity and Visual Studio extensively in my game development journey, and explored Java a bit in the past, but not as much as I would like to have done. I hope to change that in the next few years. I’ve used Unity much less in recent years, but Visual Studio has remained a mainstay in my personal coding projects, which includes a personal github pages website, and numerous Minecraft Datapacks and Resource Packs. 
          </p>
      </div>
  </div>
</div>