<div class="container-fluid body">
    <div class="col col-sm-6 col-md-4 col-lg-3 col-xl-12">
        <h1>DEV320 Project</h1>

        <p class="wr-head">
            <a href="./">Home</a>
        </p>
        <p>work-in-progress project page</p>
    </div>
    <div class="col">
        <div>
            <span class="section-title">Crafting Notions<br></span>
            <p>Crafting Notions started as an idea for website that sold fabric and other sewing notions, as wells as a hub where users could search for sewing tutorials.</p><br>
            <span class="section-title">Original Scope<br></span>
            <p>The original iteration plan was to build the basic website for purchasing fabric, as well as the part of the website for browsing videos and blog posts called from YouTube and Wordpress. The shopping part of the website will include the browsing functionality, the search functionality, and the cart functionality. The video and blog browsing part of the website will show 10-12 objects at a time that show information about the videos and blogs.</p><br>
            <span class="section-title">Updated Scope<br></span>
            <p>The current iteration plan is to build  the basic website for purchasing hobby items, as well as the part of the website for browsing videos and blog posts called from YouTube and Wordpress. The shopping part of the website will include the browsing functionality, the search functionality, and the cart functionality. The video and blog browsing part of the website will show 10-12 objects at a time that show information about the videos and blogs.</p><br>
            <p>The updated scope introduced the idea of expanding the potental stock from just fabric and sewing notions, to also include many more crafting hobby items, such as yarn for knitting and crochet.</p>
        </div>
        <hr>
        <div>
            <span class="section-title">Application and Project Links<br></span>
            <p><a href="https://github.com/Sewing-Notions/CraftingNotions">Sewing Notions GitHub</a></p>
            <p>project page to be added<a hidden href="">Crafting Notions</a></p>
        </div>
        <hr>

        <div>
            <span class="section-title">My contributions</span>
            <p>I acted as my team's merge manager, and created our github and important files and directories.</p>
            <p>I also drafted the basic wireframe layouts for the pages for our project. Pictured below:</p>
            <div class="wireframe-showcase">
                <img src="/images/init_mainPage.png">
                <img src="/images/init_browsePage.png">
                <img src="/images/init_productPage.png">
            </div>
        </div>
        <div>
            <span class="section-title">My Thoughts and Experiences<br></span>
            <p>When my team first came together, we presented our inital project ideas to the team, and we discussed which concept we wanted to do. We decided to start with my inital concept, discribed in Original Scope, and expand it into the Updated Scope.</p>
            <p>I have always been quite anxious regarding team work, and that is unlikly to change in the future. However, I think my team for this project is quite solid, which helps my anxiety.</p>
            <br>
            <p>At this point in time, my team has started programming the various features we seleced in our project scope.</p>
        </div>
        <hr>
        <div></div>
    </div>
</div>