<div class="container-fluid body">

    <h1>Web Resources</h1>

    <p class="wr-head">
        <a href="#a">W3 Schools</a> |
        <a href="#b">MDN</a> |
        <a href="#c">Developer Tools</a> |
        <a href="#d">Stack Overflow</a> |
        <a href="#e">YouTube</a> |
        <a href="#f">Reddit</a> |
        <a href="./">Home</a>
    </p>
    <ol>
        <li>
            <p id="a">
                <a target="_blank" href="https://www.w3schools.com/css/default.asp">W3 Schools - CSS Tutorial</a><br>
                This page is the landing page for a whole host of CSS formatting tutorials.<br>
                I have been using W3 Schools' tutorials for a while to remind me and introduce me to new things I can do with HTML, CSS and JavaScript.<br>
                Rating: 5/5
            </p>
        </li>
        <li>
            <p id="b">
                <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Learn_web_development/Getting_started">MDN - Getting Started Modules</a><br>
                This page is the landing page for a host of HTML and CSS tutorials.<br>
                I have been using MDN's explanations for how HTML and CSS works for a while.<br>
                Rating: 5/5
            </p>
        </li>
        <li>
            <p id="c">
                Developer Tools<br>
                By pressing F12 in your web browser, this opens the Developer Tools for that page.<br>
                I have used the Developer Tools many times to take a peek under the hood to see how a webpage 'did that'.<br>
                Rating: 5/5
            </p>
        </li>
        <li>
            <p id="d">
                <a target="_blank" href="https://stackoverflow.com/">Stack Overflow</a><br>
                This page is the landing page for a website where devs can ask and answer questions about a host of code problems.<br>
                I have used Stack Overflow many times in my coding journey. It does take a bit of work with the search engine to get the right keywords to get the answer I need, but way more often than not, I find an exact bit of code that helps me get past a roadblock.<br>
                Rating: 4/5
            </p>
        </li>
        <li>
            <p id="e">
                <a target="_blank" href="https://www.youtube.com/">YouTube</a><br>
                YouTube is a video hosting platform. If someone needs a visual step by step guide on something, there's probably a video by an Indian guy showing that exact thing.<br>
                I have used YouTube tutorials quite a few times. It's helpful to have step by step instructions on how to do a certain thing.<br>
                Rating: 3/4
            </p>
        </li>
        <li>
            <p id="f">
                <a target="_blank" href="https://www.reddit.com/r/webdev/">Reddit - r/webdev</a><br>
                Contains various posts by users who have questions about why their code does not work, requesting help to fix it.<br>
                Using reddit to find examples of code that works is kind of hit or miss. While I have used reddit before to solve a few HTML/CSS/JavaScript/general code issues before, there's an equal chance that the exact question I have was asked, but never answered.<br>
                Rating: 3/5
            </p>
        </li>
    </ol>
</div>